@import url(https://fonts.googleapis.com/css?family=Work+Sans:300,600);



.question{
    margin:20px;
    font-size: auto;
    margin-bottom: auto;
}
.answers {
    padding: 20px;
    text-align: left;
    display: inline-block;
}
.answers label{
    display: block;
    margin-bottom: auto;
}
button{
    font-family: 'Work Sans', sans-serif;
    font-size: 18px;
    background-color: #279;
    color: #fff;
    border: 0px;
    border-radius: 3px;
    padding: 12px;
    cursor: pointer;
    margin-bottom: 15px;
}
button:hover{
    background-color: #38a;
}

.slide{
    position: absolute;
    left: 0px;
    top: 0px;
    width: 95%;
    z-index: 1;
    opacity: 0;
    transition: opacity 0.5s;
}
.active-slide{
    opacity: 1;
    z-index: 2;
}
.quiz-container{
    position: relative;
    height: 230px;
    margin-top: 0px;
}
